<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="9" android:versionName="5.0" android:compileSdkVersion="23" android:compileSdkVersionCodename="6.0-2438415" package="exec.azj.kny.d.c" platformBuildVersionCode="29" platformBuildVersionName="10">
    <uses-sdk android:minSdkVersion="21" android:targetSdkVersion="29"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <supports-screens android:anyDensity="true" android:smallScreens="true" android:normalScreens="true" android:largeScreens="true" android:resizeable="true" android:xlargeScreens="true"/>
    <application android:theme="@style/AppTheme" android:label="@string/app_w_name" android:icon="@mipmap/ic_launcher" android:name="bccsejw.sxexrix.zaswnwt.MyApplication" android:allowBackup="false" android:hardwareAccelerated="true" android:supportsRtl="true" android:usesCleartextTraffic="true" android:appComponentFactory="androidx.core.app.CoreComponentFactory" android:requestLegacyExternalStorage="true">
        <activity android:label="@string/app_w_name" android:name="minmtta.hemjcbm.ahibyws.MainActivity" android:enabled="false" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity-alias android:label="@string/app_name" android:icon="@mipmap/ic_launcher" android:name="com.kmcjrz.bsesai.newActivity" android:enabled="true" android:targetActivity="minmtta.hemjcbm.ahibyws.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity-alias>
        <provider android:name="androidx.core.content.FileProvider" android:exported="false" android:authorities="exec.azj.kny.d.c.fileProvider" android:grantUriPermissions="true">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/file_paths"/>
        </provider>
        <activity android:theme="@style/CustomTheme_Dialog" android:name="bccsejw.sxexrix.zaswnwt.utils.permission.PermissionActivity" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation"/>
        <activity android:theme="@style/CustomTheme_Dialog" android:name="bccsejw.sxexrix.zaswnwt.utils.permission.PermissionDialogActivity" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation"/>
        <meta-data android:name="DCLOUD_READ_PHONE_STATE" android:value="once"/>
        <meta-data android:name="DCLOUD_AD_ID" android:value="2147483647"/>
        <meta-data android:name="DCLOUD_STREAMAPP_CHANNEL" android:value="exec.azj.kny.d.c|__W2A__nansjy.com.cn|127356250608|"/>
        <service android:label="dexopt" android:name="com.tencent.smtt.export.external.DexClassLoaderProviderService" android:process=":dexopt"/>
    </application>
</manifest>
